@media screen and (max-width: 1024px){
    .banner{
        width: 40%;
    }
    .btn-link{
        padding: 10px;
    }
    #banner-game1> .img-2{
        display: none;
    }
}
@media screen and (max-width: 540px){
    .banner{
        width: 90%;
    }
    .btn-link{
        padding: 10px;
    }
    #banner-game1> .img-2{
        display: none;
    }
}
@media screen and (max-height: 610px){
    section{
        height: 100%;
        background-image: linear-gradient(to top,black, black, transparent);
        
    }
    .banner{
        height: auto;
        width: 300px;
    }
}